{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="row">
    <div class="col"></div>
    <div class="col h1 mb-1 mb-lg-5 title">Minesweeper Sign up</div>
    <div class="col d-flex justify-content-end">
        <div>
            <a class="btn border border-light btn-std-color" href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock header %}

{% block main %}
<div class="d-flex justify-content-center">
    <form action="" method="post" class="game-form">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.password_confirmation }}
        </div>
        <div class="form-group">
            <button class="btn border border-light btn-std-color">Sign Up</button>
        </div>
    </form>

</div>
{% endblock main %}
