{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    <div class="d-flex justify-items-end">
        <div class="ml-3">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
{% endblock navbar %}
{% block header %}
    <div class="row">
        <div class="col h1 my-5 title">Minesweeper Sign up</div>
    </div>
{% endblock header %}
{% block main %}
    <div class="d-flex justify-content-center">
        <form action="" method="post" class="game-form">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="form-group">{{ form.username }}</div>
            <div class="form-group">{{ form.password }}</div>
            <div class="form-group">{{ form.password_confirmation }}</div>
            <div class="form-group">
                <button class="btn border border-light btn-std-color">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock main %}
{% block scriptblock %}
    <script src="{% static 'js/logreg.js' %}" type="text/javascript"></script>
{% endblock scriptblock %}
